/* HomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

.homepage-container {
  padding: 50px;
  text-align: center;
  font-size: 10vw;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  min-height: 100vh;
  margin-top: 150px;
}

html {
  scroll-behavior:smooth;
}

/* WELCOME SECTION — starts scaled up, then shrinks */
.welcome-section {
  /* transform: scale(2.5); 
  transition: transform 1s ease-in; */
  animation: growShrinkFade 3.5s ease-in-out forwards;
  margin-bottom: 400px;
}
@keyframes growShrinkFade{
    0% {
        opacity: 0;
        transform: scale(2.5); /* Bigger */
      }
      50% {
        opacity: 1;
        transform: scale(3); /* Max grow */
      }
      100% {
        opacity: 1;
        transform: scale(2.5); /* Shrink to normal */
    }
}
/* .welcome-section.shrink {
  transform: scale(2); 
} */

/* Title (h1) */
.main-heading {
  
  font-family: 'Jersey 20', sans-serif;
  transition: font-size 1s ease, transform 1s ease;
}

/* Tagline */
.tagline {
  
  font-weight: bold;
  font-size:larger !important;
}

/* Bud-E Animation Iframe */
.bud-e-frame {
  width: 200px;
  height: 300px;
  border: none;
  transition: width 1s ease, height 1s ease;
  margin-top: -80px;
  margin-bottom: -90px;
}
/* Quiz Section */
.quiz-category-space {
  height: 200px;
  background-color: transparent;
}
