body {
    font-family: "Arial", sans-serif;
    background-color: #E9EED9;
    margin: 0;
}

/* Main Container */
.result-container {
    width: 800px;
    padding: 40px;
    background-color: #E9EED9;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 70px auto;

}

/* Header: Exit Button, Timer, Score */
.result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

/* Result Box */
.result-content {
    background-color: #E9EED9;
    border: 1.5px solid #9A7E6F;
    padding: 40px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: #54473F;
}

/* Score Message */
.score-message {
    background-color: #9A7E6F;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Result Info */
.result-info {
    background-color: #CBD2A4;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
}

/* AI Assistant */
.ai-assistant {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ai-icon {
    width: 250px;
    height: auto;
}

/* Buttons */
.result-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.go-back-button {
    background-color: #9A7E6F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.go-back-button:hover {
    background-color: #816656;
}