@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #54473F;
  margin: 0;
  padding: 0;
  background-color: #E9EED9;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Landing Page */
.landing-page {
  text-align: center;
}

.main-heading {
  font-size: 5em;
  font-weight: 700;
  color: #54473F;
  margin-bottom: 10px;
}

.logo {
  width: 150px; /* Adjust size */
  height: auto;
  margin: 20px 0;
}

.tagline {
  font-size: 2em;
  color: #9A7E6F;
  margin-bottom: 20px;
}

/* Buttons */
.select-category-btn {
  position: fixed;
  bottom: 20px; /* Adjust as necessary */
  right: 20px; /* Adjust as necessary */
  background-color: #CBD2A4;
  color: #54473F;
  border: 2px solid #9A7E6F;
  padding: 12px 24px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.select-category-btn:hover {
  background-color: #9A7E6F;
  color: white;
}

/* Quiz Section */
.quiz-container {
  background-color: #CBD2A4;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.error-message {
  background-color: #F2D0D0;
  color: #54473F;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
